:root {
    --bg: #121212;
    --card: #1e1e1e;
    --text: #ffffff;
    --accent: #00b894;
    --danger: #d63031;
}

.light-theme {
    --bg: #f2f2f2;
    --card: #ffffff;
    --text: #000000;
    --accent: #0984e3;
    --danger: #d63031;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: Arial;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    transition: 0.3s;
}

.container {
    width: 700px;
    background: var(--card);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 20px #0005;
}

.top-bar { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#themeToggle {
    background: var(--accent);
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

input, select {
    padding: 10px;
    background: #2c2c2c;
    border: none;
    color: white;
    border-radius: 5px;
}

.light-theme input,
.light-theme select {
    background: #e3e3e3;
    color: black;
}

#searchBar { width: 100%; margin: 15px 0; }

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tabs button {
    padding: 7px 12px;
    border: none;
    background: #444;
    color: white;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.tab.active { background: var(--accent); }

.input-area {
    display: flex;
    gap: 10px;
    margin: 15px 0 20px;
    flex-wrap: wrap;
}

#addBtn {
    background: var(--accent);
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

#taskList {
    list-style: none;
    padding: 0;
}

.task {
    background: #2c2c2c;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    border-left: 6px solid grey;
    cursor: grab;
}

.priority-high { border-left-color: #e84118; }
.priority-medium { border-left-color: #fbc531; }
.priority-low { border-left-color: #4cd137; }

.completed { text-decoration: line-through; opacity: 0.6; }

.remove-btn {
    background: var(--danger);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

.progress-section { margin: 20px 0; }
.progress-bar { 
    width: 100%; 
    background: #444; 
    height: 10px; 
    border-radius: 5px;
}
#progressFill {
    background: var(--accent);
    height: 10px;
    width: 0%;
    transition: 0.3s;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: #0009;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: var(--card);
    padding: 20px;
    border-radius: 10px;
    width: 350px;
}
